body{
    font-family: 'Rubik', sans-serif;
    margin: 0px;
}
section{
    height: 450px;
    padding-bottom: 150px;
}
.top-banner{
    background-image: url("img/Background-top.png");
    background-repeat: no-repeat;
    width: 100%;
    
}
h1{
    font-size: 60px;
}
h2{
    text-align: center;
}
p{
    color: dimgray;
}
.orange-name{
    color: orange;
}
.Half-width{
    width: 37%;
    float: left;
    margin-left: 1%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 6%;
    text-align: justify;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(113, 62, 62), black);
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;

}
.Half-width img{
    width: 80%;
    padding-left: 80px;
}
.Dream-area{
    background-image: url("img/Dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 50px;
}
.experience-area{
    background-image: url("img/experience-half.png");
    background-repeat: no-repeat;
    background-position: left;
    margin: 0px;
    
    
}
.experience-single{
    box-shadow: 10px 10px 30px gray;
    border-radius: 15px;
    height: 250px;
    margin: 30px;
    background-color: white;
}
#full-stack{
    border-bottom: 8px solid;
    border-left: 8px solid;
    border-image: linear-gradient(180deg, blue, rgb(190, 255, 255));
    border-image-slice: 1;
}
#baby-web{
    border-bottom: 8px solid;
    border-left: 8px solid;
    border-image: linear-gradient(180deg, black, gray);
    border-image-slice: 1;
}
footer{
    text-align: center;
    color: gray;
}